@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/Icons/icomoon.eot?c8bshk');
  src:  url('../fonts/Icons/icomoon.eot?c8bshk#iefix') format('embedded-opentype'),
    url('../fonts/Icons/icomoon.ttf?c8bshk') format('truetype'),
    url('../fonts/Icons/icomoon.woff?c8bshk') format('woff'),
    url('../fonts/Icons/icomoon.svg?c8bshk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
  content: "\e905";
}
.icon-Activities:before {
  content: "\e901";
}
.icon-dashboard:before {
  content: "\e904";
}
.icon-jobs:before {
  content: "\e906";
}
.icon-star-fill:before {
  content: "\e900";
}
.icon-company:before {
  content: "\e902";
}
.icon-Cv:before {
  content: "\e903";
}
