/*responsive*/
@media screen and (min-width: 992px) {
  .cover-menu-nav{
    display: none;
  }
  header {
    nav{
      left: unset !important;
    }
  }
  .open-in-mobile{
    display: block !important;
  }
}
@media screen and (min-width: 1700px) {
  .portfolio-sec{
    height: 480px;
  }
}
@media screen and (max-width: 1400px) {
  .hero-sec {
    #search-box{
      width: 75%;
    }
  }
  .AI-features {
    .features-place {
      .section-title{
        width: 40vw;
      }
    }
    .user-testimonials{
      .testimonials{
        .box{
          width: 50vw;
        }
      }
    }
  }
  .link--footer {
    .link-footer {
      .elements{
        display: block;
        height: max-content;
      }
    }
  }
  .login_register {
    .content-place {
      .form-place{
        width: 80%;
      }
    }
  }
  .main-page {
    .content-place {
      .job-card {
        .top-contents{
          flex-wrap: wrap;
          .left-place{
            width: 100%;
          }
          .right-place{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .category-overlay {
    .body{
      width: 90vw;
    }
  }
  .main-page {
    .left-section {
      .filter-place {
        .input-place{
          &.input-number {
            .f {
              flex-wrap: wrap;
              input{
                width: 100%;
              }
              .TO{
                margin: 10px 0;
              }
            }
          }
        }
      }
    }
  }
  .top-card-place{
    .freelancers-card{
      .top-sec{
        .right-place{
          .btn-green{
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199.98px) {
  header{
    padding: 1rem 10px;
  }
  .hero-sec {
    h1{
      padding: 0 3rem;
    }
    #search-box{
      width: 90%;
    }
  }
  .what-we-do {
    .content-place {
      .img-back-place{
        width: 75%;
        margin: 0 auto;
      }
      .top-card{
        top: 2rem;
        left: 13.5rem;
      }
    }
  }
  .trust-sec{
    .blur-bg{
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .AI-features {
    .features-place {
      .section-title{
        width: 60vw;
      }
    }
    .user-testimonials{
      .testimonials{
        .box{
          width: 60vw;
        }
      }
    }
  }
  footer {
    .download-app {
      .content-place{
        flex-wrap: wrap;
        .card-download{
          margin-right: 0;
          &:first-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  footer {
    .bottom-footer {
      .elements{
        padding-bottom: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        .content-place{
          margin: 1rem auto;
        }
      }
    }
  }
  .login_register {
    .content-place {
      .form-place {
        .download-box {
          .card-place{
            width: 100%;
          }
        }
        .choose-input{
          flex-wrap: wrap;
          width: 100%;
          .choose{
            width: 100%;
            input{
              + label{
                width: 100%;
              }
            }
          }
        }
        #agree{
          +label{
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  .search-place-top{
    margin-top: 6.5rem;
  }
  .freelancers-card{
    .top-sec{
      flex-wrap: wrap;
      .left-place{
        width: 100%;
      }
      .right-place{
        width: 100%;
        margin-top: 1rem;
        .btn-green{
          margin-top: 0;
          margin-left: 0;
        }
      }
    }
  }
  .profile-section{
    margin-top: 6.5rem;
    flex-wrap: wrap;
    .right-section{
      margin-top: .5rem;
    }
  }
}
@media screen and (max-width: 991.98px) {
  .mobile-view{
    display: block;
  }
  header {
    nav{
      position: fixed;
      left: -400px;
      right: unset;
      transform: unset;
      top: 0;
      background-color: #ffffff;
      box-shadow: 0 0 1rem rgba(0,0,0,0.2);
      height: 100%;
      overflow-y: auto;
      ul{
        display: block;
        li{
          margin: 0;
          padding: 1rem 2rem 0 2rem;
        }
      }
      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $green;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    .btn-header{
      display: none;
    }
  }
  .menu-button{
    display: block;
  }
  .hero-sec {
    padding: 8rem 2rem;
    h1{
      padding: 0 1rem;
    }
    #search-box{
      width: 100%;
      .text{
        display: none;
      }
    }
  }
  .what-we-do {
    .content-place {
      .img-back-place{
        width: 95%;
        margin: 0 auto;
      }
      .top-card{
        top: 1.5rem;
        left: 6rem;
      }
    }
  }
  .link--footer{
    .link-footer{
      width: 100%;
    }
  }
  .login_register {
    .content-place {
      .form-place {
        .download-box {
          .card-place{
            width: 100%;
            flex-wrap: wrap;
            .download-card{
              margin-right: 0;
            }
          }
        }
        .no-padding-left , .no-padding-right{
          padding: 0;
        }
      }
    }
  }
  .search-place-top {
    .input-filter{
      .input-place{
        margin-bottom: .6rem;
        width: 100%;
      }
      .select-place{
        width: calc(100% - 7rem);
        margin-left: 0;
      }
    }
  }
  .search-place-top{
    margin-top: 5rem;
  }
  .open-in-mobile{
    display: none;
  }
  .show-in-mobile{
    display: flex;
  }
  .main-page {
    .content-place {
      .lists-details{
        margin-top: 1rem;
      }
    }
  }
  .search-place-top{
    .title{
      flex-wrap: wrap;
      .guide{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
  .main-page {
    #search_form{
      margin: auto ;
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .what-we-do {
    .text-place{
      img{
        margin-bottom: 2rem;
      }
    }
    .content-place {
      .img-back-place{
        width:100%;
        margin: 0 auto;
      }
      .top-card{
        top: -.5rem;
        left: 1.5rem;
      }
    }
  }
  .section-title{
    font-size: 24px;
  }
  .AI-features {
    .features-place{
      .section-title{
        width: 100%;
      }
    }
    .user-testimonials{
      .testimonials{
        .box{
          width: 65vw;
          transform: scale(0.9);
          p{
            font-size: 1rem;
          }
          .user-place{
            margin-top: 2rem;
          }
        }
      }
    }
  }
  .get-started {
    margin-top: 4rem;
    .title{
      font-size: 36px;
    }
    h3{
      font-size: 16px;
    }
    a{
      font-size: 14px;
    }
  }
  .login_register {
    .img-back-place{
      width: 100%;
    }
    .content-place{
      width: 90vw;
      height: 90vh;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      background-color: #ffffff;
    }
  }
  .btn-chat-fixed{
    &.login-page{
      position: fixed;
      top: unset;
      transform: unset;
      bottom: 40px;
    }
  }
  .category-overlay {
    .body{
      padding: 3rem;
    }
  }
  .freelancers-card{
    .top-sec{
      .right-place{
        .btn-green{
          margin-top: 10px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .profile-section{
    margin-top: 5.5rem;
    padding: 2rem;
    .right-section{
      margin-left: 0;
      .btn-place{
        flex-wrap: wrap;
        .btn-green{
          margin-top: 10px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .login_register {
    .content-place {
      .top-sec{
        padding: 2rem;
      }
    }
  }
  .pay-method {
    .head {
      .img-place{
        width: 100%;
      }
    }
  }
  .login_register {
    .content-place {
      .top-sec {
        padding-bottom: 0;
        .price_job_detail{
          position: static;
          padding: 0;
          margin-top: 1rem;
          .price,.job-title,.job-code{
            color: $black1;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575.98px) {
  .hero-sec{
    padding-top: 6rem;
    h1{
      font-size: 1.7rem;
      padding: 0;
      line-height: 50px;
    }
  }
  #search-box {
    .search-input-place{
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .what-we-do {
    .content-place {
      .top-card{
        transform: scale(0.8);
        font-size: .9rem;
        top: -.5rem;
        left: 1.5rem;
        &:after{
          transform: scale(0.7);
          bottom: -5rem;
        }
      }
      .bottom-card{
        transform: scale(0.8) translateX(48%);
      }
    }
  }
  .section-title{
    font-size: 1.5rem;
  }
  footer{
    padding-top: 10px;
    .download-app{
      margin-top: 0;
    }
    .bottom-footer {
      .elements {
        .content-place {
          .content{
            margin-right: 25px;
          }
        }
      }
    }
  }
  .link--footer{
    flex-wrap: wrap;
  }
  .title-footer{
    padding-top: 3rem;
  }
  .login_register {
    .content-place {
      .form-place{
        width: 100%;
      }
    }
  }
  .search-place-top{
    .input-filter{
      .select-place{
        width: 100%;
        margin-right: 0;
        margin-bottom: .6rem;
      }
    }
  }
  .main-page {
    .content-place {
      .lists-details{
        flex-wrap: wrap;
        #filter_select{
          width: 100%;
          margin-top: 10px;
        }
      }
    }
    .job-card {
      .top-contents {
        .right-place {
          .btns{
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            .btn-green{
              width: 100%;
              text-align: center;
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
  .category-overlay {
    .body{
      width: 95vw;
      height: 90vh;
      padding: 2rem;
      font-size: 14px;
    }
  }
  .freelancers-card{
    .top-sec{
      .left-place{
        flex-wrap: wrap;
      }
      .right-place{
        .salary{
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
  .profile-section{
    .right-section{
      .btn-place{
        .card-element{
          &.message{
            width: 50%;
            margin-top: 10px;
          }
        }
        .btn-green{
          width: calc(50% - 10px);
        }
      }
    }
  }
  .portfolio-sec{
    height: unset;
  }
  .portfolio-slider{
    position: relative;
    top: unset;
    margin-top: 2rem;
  }
  .talent-slider {
    .box {
      .btn-place {
        .btn-green{
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
  .main-page {
    #search_form{
      width: 100%;
    }
  }
}
@media screen and (max-width: 400px) {
  .what-we-do{
    .content-place{
      .top-card{
        top: -8vw;
        left: -5vw;
      }
      .bottom-card{
        bottom: -5rem;
      }
    }
  }
  footer{
    .bottom-footer {
      .elements {
        .content-place {
          flex-wrap: wrap;
          .content{
            margin-right: 8px;
            transform: scale(.85);
          }
        }
      }
    }
  }
  .login_register{
    .input-place{
      flex-wrap: wrap;
      a{
        margin-left: 0 !important;
        margin-top: .5rem;
      }
    }
  }
  .profile-section {
    .right-section {
      .btn-place {
        .card-element{
          &.message{
            font-size: .9rem;
            img{
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}
