/* colors */
$green : #16423C;
$black1 : #060606;
$Accent-color : #87AB21;
$Dark-color : #6A9C89;
$mid-gray : #4B4B4B;
$mid : #C4DAD2;
$light-gray : #e9efec;
$black-input-color:#1C1C1C;


/*color btn-ripple*/
$green-ripple : #308c7f;

/*colors hover*/

$Accent-color-hover : #425410;